<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>姓名案例_computed简写</title>
    <script type="text/javascript" src="../js/vue.js"></script>
    <link rel="icon" href="../favicon/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div id="root">
      <h2>{{name}}</h2>
      姓 <input type="text" v-model="lastName" /> <br /><br />
      名 <input type="text" v-model="firstName" /> <br /><br />
      全名：<span>{{ fullName }}</span>
    </div>

    <script type="text/javascript">
      Vue.config.productionTip = false;

      //创建Vue实例
      const vm = new Vue({
        el: "#root",
        data: {
          name: "GoKu",
          lastName: "son",
          firstName: "Goku1",
        },
        computed:{
          fullName(){
            return this.lastName + ' ' + this.firstName
            
          }
        }
      });
    </script>
  </body>
</html>
